/* Estilos gerais */
body {
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos para o botão de cardápio */
#butaoCardapio {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border: none;
    cursor: pointer;
}

#butaoCardapio:hover {
    background-color: #23527c;
}

/* Estilos para os elementos com id "pre" */
#pre, #pre1, #pre2, #pre3, #pre4 {
    color: rgb(0, 0, 0);
    width: 10%;
    background-color: rgb(217, 221, 34);
    position: absolute;
}

#pre {
    margin-top: 15px;
    right: 1200px;
}

#pre1 {
    margin-top: -70px;
    right: 1290px;
}

#pre2 {
    margin-top: 15px;
    right: 1350px;
}

#pre3 {
    margin-top: -70px;
    right: 1100px;
}

#pre4 {
    width: 250px;
    border: 20px;
    margin-top: -70px;
    right: 1100px;
}

/* Estilos para o botão "beb" */
.beb {
    background-color: transparent;
    color: white;
}

/* Estilos para o fieldset */
fieldset {
    margin-top: 10%;
    border-width: 4px;
    margin-right: 500px;
    margin-left: 500px;
    background-color: rgb(255, 255, 255);
}

/* Estilos para a classe "preview" */
.preview {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

/* Estilos para a classe "lista-item" */
.lista-item {
    margin-bottom: 20px;
}

/* Estilos para o cabeçalho (header) */
header {
    padding: 20px;
    text-align: center;
}

/* Estilos para a barra de navegação (nav) */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para o conteúdo principal (main) */
main {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

/* Estilos para o rodapé (footer) */
footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    margin-top: 300px;
}

/* Estilos para o elemento com classe "loc" */
.loc {
    float: right;
}




/* Estilos para o botão de resposta */
#response-button {
    background-color: #337ab7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#response-button:hover {
    background-color: #23527c;
}

/* Estilos para a mensagem de resposta */
.response {
    background-color: #d9dd22;
    margin-left: 30px; /* Espaço para indicar que é uma resposta */
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para a caixa de feedback */
.feedback-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #f7f7f7;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #deff07;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feedback-history {
    max-height: 200px; /* Defina a altura máxima desejada para o histórico */
    overflow-y: scroll;
    margin-bottom: 10px;
}

.question-input {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button#submit-feedback {
    align-self: flex-end;
    background-color: #337ab7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button#submit-feedback:hover {
    background-color: #23527c;
}
